@media all {
  .header {
    position: relative;
    height: 53px;
    background: #1b242f;
    color: #fff;
  }
  .nav {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    .link {
      margin: 0 20px;
    }
  }
  .menu {
    display: none;
  }
}
@media screen and (max-width: 575px) {
  .nav {
    top: 53px;
    width: 100%;
    height: auto;
    position: absolute;
    z-index: 1;
    color: #fff;
    flex-direction: column;
    background: #1b242f;
    .link {
      margin: 20px 0;
    }
  }
  .menu {
    display: block;
    font-size: 40px;
    height: 100%;
    margin: auto 0;
    width: 60px;
    text-align: center;
  }
}
