@media all {
  .hello {
    height: 100vh;
    background-color: #282c34;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
  }
  .action {
    border: 2px solid #fff;
    &:hover {
      background-color: $primary-color;
      border-color: $primary-color;
    }
  }
}
