@media all {
  .header {
    position: relative;
    background: #1b242f;
    color: #fff;
  }
  .nav {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    .link {
      margin: 0 20px;
      font-weight: bold;
    }
  }
}
