@media all {
  .blog {
    &-title {
      background-color: #ffffff;
      h1 {
        padding: 10px;
        font-size: 24px;
      }
    }
    &-wrapper {
      padding: 10px 0;
      height: 100%;
      display: flex;
      flex-direction: column;
      text-align: left;
    }
    &-item {
      padding: 20px;
      border-radius: 5px;
      background-color: #fff;
      display: flex;
      flex-direction: row;
      align-items: flex-start;
    }
    &-title {
      font-weight: 600;
      color: #2e3135;
      font-size: 18px;
    }
    &-description {
      color: #5b6169;
      margin-bottom: 10px;
      word-break: break-word;
    }
    &-detail {
      padding: 20px 0;
      background-color: #f4f5f5;
    }
    &-content {
      text-align: left;
      background-color: #fff;
      padding: 30px;
      pre {
        background-color: #f4f5f5;
        border: 2px solid #e6e6e6;
        border-radius: 5px;
      }
      img {
        max-width: 100%;
        height: auto;
      }
      p {
        word-break: break-word;
      }
      a {
        color: #00B0FF;
        font-weight: bold;
      }
    }
    &-info {
      display: flex;
      align-content: center;
      margin-right: 20px;
      font-size: 13px;
      color: #4e5969;
      span:nth-child(2) {
        margin-left: 6px;
      }
    }
  }
}
@media (max-width: 575px) {
  .blog {
    &-title {
      h1 {
        padding: 16px;
        margin-bottom: 16px;
      }
    }
    &-description {
      display: none;
    }
    &-item {
      flex-direction: column-reverse;
    }
    &-content {
      padding: 16px;
    }
    &-detail {
      padding: 16px 0;
      margin: 0 -16px;
    }
  }
}
