@media all {
  .page {
    background-color: #f4f5f5;
    height: calc(100vh - 53px);
  }
  .blog {
    &-title {
      background-color: #ffffff;
      h1 {
        padding: 20px;
        font-size: 24px;
      }
    }
    &-wrapper {
      padding: 0 20px;
      margin: 0;
      height: 100%;
      overflow-y: scroll;
      text-align: left;
    }
    &-item {
      margin: 20px 0;
      padding: 20px;
      border-radius: 5px;
      background-color: #fff;
      //box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      //&:hover {
      //  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
      //}
    }
    &-title {
      font-weight: 600;
      color: #2e3135;
      font-size: 18px;
    }
    &-description {
      color: #5b6169;
    }
    &-detail {
      padding: 20px 0;
      background-color: #f4f5f5;
    }
    &-content {
      text-align: left;
      background-color: #fff;
      padding: 30px;
      pre {
        background-color: #f4f5f5;
        padding: 20px;
      }
      img {
        max-width: 100%;
        height: auto;
      }
      p {
        word-break: break-word;
      }
    }
  }
}
