body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
// 去除 a 标签 默认样式
// 去除 a 标签 下划线
a {
  text-decoration: none;
  color: inherit;
  &:hover {
    color: inherit;
  }
}
// 全局主题变量
$primary-color: #ffc107;

//@import '~antd/dist/antd.css';

