@media all {
  .project {
    &-list {
      //display: flex;
      //flex-wrap: wrap;
      //justify-content: space-between;
      //margin: 0 -1rem;
      //padding: 0;
      //list-style: none;
      padding: 32px;
    }
    &-item {
    };
  }
  .cover {
    object-fit: cover;
  }
}
@media (max-width: 576px) {
  .cover {
    height: calc(100vw - 64px);
  }
}
@media (min-width: 576px) and (max-width: 768px){
  .cover {
    height: calc((100vw - 88px) / 2);
  }
}
@media (min-width: 768px) and (max-width: 992px){
  .cover {
    height: calc((100vw - 112px) / 3);
  }
}
@media (min-width: 992px){
  .cover {
    height: calc((100vw - 152px) / 4);
  }
}
